
spring:
  web:
    resources:
      static-locations: classpath:/static/
    servlet:
      multipart:
        max-file-size: 10MB
        max-request-size: 10MB
  datasource:
    url: ${DATABASE_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        jdbc:
          time_zone: UTC

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: false
    out-of-order: true

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate: WARN